*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background-color: #FCDE70;
}

button {
  font-size: 0.95rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  border: none;
  cursor: pointer;
}

.App {
  margin: 5rem auto 0;
  padding: 2rem 0;
  width: 100%;
  max-width: 700px; 
  min-height: 80vh;
  text-align: center;
  background-color: #F5F7F8;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

@media all and (max-width: 1024px) {
  .App {
    width: 70%;
  }
}

@media all and (max-width: 768px) {
  .App {
    width: 80%;
  }
}

@media all and (max-width: 400px) {
  .App {
    width: 90%;
  }
}

.App__title {
  font-size: 3.5em;
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}

.App__input {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  padding: 10px 15px;
  color: #000000;
  width: 50%;
  height: 35px;
  line-height: 35px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal
}

.App__btn {
  padding: 8px 15px;
  background-color: #185519;
  color: #F5F7F8;
}

.notes__list {
  margin: 2rem 0;
  display: grid;
  row-gap: 1rem;
}

.note {
  margin: 0 3rem;
  display: flex;
  justify-content: space-between;
}

.note__btns {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.note__edit {
  background: none;
}

.note__delete {
  font-size: 1.1rem;
  transform: rotate(35deg);
  cursor: pointer;
  transition: .2s ease-in-out;
}

.note__delete:hover {
  transform: rotate(0deg);
}